GITHUB_ID=
GITHUB_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Giscus (GitHub Discussions comments)
NEXT_PUBLIC_GITHUB_REPO=
NEXT_PUBLIC_GITHUB_REPO_ID=
NEXT_PUBLIC_GITHUB_CATEGORY=
